<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        div{
            margin-top: 10px;
            width: 15%;
            display: flex;
            justify-content: space-around;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <th>Nr</th>
            <th>Title</th>
            <th>Release year</th>
            <th>Rating</th>
            <th>Length</th>
        </tr>
        <% data.forEach((val)=>{ %>
        <tr>
            <td><%= val.film_id %></td>
            <td><%= val.title %></td>
            <td><%= val.release_year %></td>
            <td><%= val.rating %></td>
            <td><%= val.length %></td>
        </tr>
        <% }); %>
    </table>

    <div>
            <a href="/back/<%=page%>"><--before</a>
            <a href="/next/<%=page%>">next--></a>
    </div>
    
</body>

</html>